@{
    ViewData["Title"] = "Home Page";
}

<h2>CSS Layout Float</h2>

<header>
    <h2 class="animated-text">ONE SHOT GROUP</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Võ Văn Tín</h1>
        <p>Có thể bạn chưa biết hoặc bạn đã biết nhưng não bạn lại nhận thức là bạn mặc định chưa biết nhưng tôi cũng không biết.</p>
        <p>Và tất cả chúng ta đều giống nhau nhưng vạch xuất phát của mỗi người đều khác nhau. Nên bạn phải có mục tiêu và không ngừng bỏ cuộc.</p>
    </article>
</section>

<footer>
    <p>Copyright &copy; Võ Văn Tín - @DateTime.Now.Year</p>
</footer>
